name: Build Image

on:
  release:
    types: [published]
  push:
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@7d8953059de9ae1d6ab90e4d07704593831eaeb2 # v1.1.23
    with:
      tag-external-version: true
