name: Build Image

on:
  release:
    types: [published]
  push:
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@7ff21d108b6b8eefbae4b571409b7905dc08206f # v1.1.25
    with:
      tag-external-version: true
