name: Build Image

on:
  release:
    types: [published]
  push:
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@710caf2f60dd1ec4702609bea2632ba80d04a65d # v1.1.21
    with:
      tag-external-version: true
