name: Build Image

on:
  release:
    types: [published]
  push:
  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and deploy
    uses: chukysoria/workflows/.github/workflows/build-image.yml@1e7ebebec654777dc927b4fd74ca815175d356aa # v1.1.24
    with:
      tag-external-version: true
