name: 'Release Drafter'

on:
  push:
    branches:
      - master
      - 3.19

jobs:
  update_release_draft:
    name: Release
    uses: chukysoria/workflows/.github/workflows/new-release.yml@7d8953059de9ae1d6ab90e4d07704593831eaeb2 # v1.1.23
    with:
      tag-external-version: true
