name: 'Release Drafter'

on:
  push:
    branches:
      - master
      - 3.19

jobs:
  update_release_draft:
    name: Release
    uses: chukysoria/workflows/.github/workflows/new-release.yml@1e7ebebec654777dc927b4fd74ca815175d356aa # v1.1.24
    with:
      tag-external-version: true
